<div class="uploadFile">

  <div *ngIf="uploading" class="m-5">
    <h3 class="text-primary">Uploading {{progress}}</h3>
    <p>Please wait while files are being uploaded</p>
  </div>

  <div id="main">
    <div class="d-flex flex-row-reverse p-1">
      <button class="btn btn-sm btn-secondary ml-1"
        (click)="closeModel()">
        <fa-icon [icon]="faWindowClose"></fa-icon>
      </button>
      <button class="btn btn-sm btn-secondary ml-1"
        (click)="toggleHelp()">
        <fa-icon [icon]="faInfo"></fa-icon>
      </button>
    </div>

    <div *ngIf="!help">
      <div id="error" [class.hidden]="!errorMessage" class="alert alert-danger">
        {{errorMessage}}
      </div>

      <h4>Upload a new file</h4>
      <form (ngSumbit)="upload()" #form="ngForm" id="uploadForm">
        <div class="form-group">
          <label for="file">File</label>
          <input type="file" name="file" id="file" class="form-control"
            [(ngModel)]="file" (change)="fileName = ''"
            #fileModel="ngModel" required>
          <div *ngIf="fileModel.invalid && (fileModel.dirty && fileModel.touched)"
            class="text-muted">
            <div *ngIf="fileModel.errors.required">
                Please choose a file
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="targetName">Target Name</label>
          <input type="text" name="targetName" class="form-control"
            [(ngModel)]="fileName" #filename="ngModel">
          <div *ngIf="!(filename.dirty || filename.touched)">
            Please enter a name to save as a new name
          </div>
          <div *ngIf="!validateFileName() && (filename.dirty || filename.touched)"
            class="alert alert-danger">
            <div *ngIf="!validateFileName()">
              File name is not valid, try another
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-sm btn-primary ml-1"
          (click)="addSelectedFile()" [disabled]="!fileModel.valid">
          Add File</button>
        <input (click)="upload()" type="submit" class="btn btn-sm btn-success ml-1"
          [disabled]="!form.valid || (fileName && !validateFileName())"
          value="Upload Selected">
      </form>
      <h4>Selected Files: </h4>
      <div *ngIf="selectedFiles.length"
        class="alert alert-primary m-1 p-1 d-flex flex-row flex-wrap">
        <div *ngFor="let s of selectedFiles"
          class="alert alert-sm alert-light m-1">
          <span>{{s.newName}}</span>
          <button class="btn btn-sm btn-outline-secondary m-1"
            (click)="removeFile(s)">X</button>
        </div>
      </div>
    </div>

    <div *ngIf="help" class="p-2">
      <ul>
        <li>Upload file window let you upload one or more files.</li>
        <li>To upload a file, use 'Select File' input box.</li>
        <li>Now type an appropriate name for file and click 'Add file'</li>
        <li>To add another file, repeat above two.</li>
        <li>Selected files are always there at bottom, so you may remove one
          or more of them, if you wish to cancel them.
        </li>
        <li>Click 'Upload Selected' to upload selected files</li>
      </ul>
      <p class="alert-warning p-2">Click on info button again to close help.</p>
    </div>
  </div>
</div>
