img {
  max-width: 24px;
  max-height: 24px;
  margin: 1px;
}

.item {
  display: grid;
  grid-template-columns: 0.3fr 3fr 0.7fr;
  padding: 3px;
}

.item:hover {
  background: rgba(230, 230, 230, 0.5);
}

.item-header {
  grid-column: 1;
}

.item-content {
  grid-column: 2;
}

.item-name:focus {
  background: white;
  border: none;
}

.item-actions {
  grid-column: 3;
  display: flex;
  flex-direction: row-reverse;
}
