@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.hidden {
  visibility: hidden;
  display: none;
}

.item {
  z-index: 99;
}

.item-header img {
  max-width: 24px;
  max-height: 24px;
  margin: 1px;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33vw;
  height: 100vh;
  padding: 10px;
}

.notification {
  position: absolute;
  bottom: 0.5vh;
  right: 1vw;
  width: 96vw;
  height: 15vh;
  padding: 0.1vh 1vw;
  overflow: auto;
}
